@page 
@model CandidateManagement_TranThanhHiep.Pages.CandidateCRUD.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" >
    </head>
    <body>

        <h3>Candidate List</h3>
        <table border="1" >
            <tr>
                <th>Full Name</th>
                <th>Birthday</th>
                <th>ProfileShortDescription</th>
                <th>ProfileUrl</th>
            </tr>
        @foreach(var candidate in Model.CandidateProfile)
        {
            <tr>
                <td>@candidate.Fullname</td>
                <td>@candidate.Birthday</td>
                <td>@candidate.ProfileShortDescription</td>
                <td>@candidate.ProfileUrl</td>
            </tr>
        }
        </table>
        <paging class="pagination" total-records="@Model.totalCandidate" show-total-pages="false" 
                   show-total-records="false" page-size="@Model.pageSize" page-no="@Model.pageNo"  ></paging>
    </body>
</html>






@*<div >

    @if(Model.HasPreviousPage)
    {
        <a href="?page=@Model.PreviousPage">Previous</a>

    }

    @for(var i = 1; i <= Model.TotalPages; i++)
    {
        <a href="?page=@i">@i</a>
    }

    @if(Model.HasNextPage)
    {
        <a href="?page=@Model.NextPage">Next</a>
    }
</div>*@


@*@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination">
            <li class="page-item @(Model.CurrentPage <= 1 ? "disabled" : "")">
                <a class="page-link" href="?page=@(Model.CurrentPage - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.CurrentPage >= Model.TotalPages ? "disabled" : "")">
                <a class="page-link" href="?page=@(Model.CurrentPage + 1)">Next</a>
            </li>
        </ul>
    </nav>
}
*@