@page 
@model CandidateManagement_TranThanhHiep.Pages.CandidateCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" >
}


@*<form method="post" >
	<div>
		<label>Fullname</label>
		<input type="text" asp-for="@Model.fullName"  />
	</div>
	<div>
		<label>Birthday</label>
		<input type="date" asp-for="@Model.birthDay"  />
	</div>
	<button asp-page-handler="search" type="submit" >Search</button>
	
</form>*@

<form method="post" >
	Search<input name="txtSearch">
    <select name="type">
        <option value="1">Full Name</option>
        <option value="2">Birthday</option>
        @*<option value="3">Unitsln Stock</option>*@
    </select>
	<button asp-page-handler="search" type="submit" >Search</button>
	
</form>



<p style="color:red" >@Model.Msg</p> 


<h1 style="text-align:center ">List Candidate</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].ProfileShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateProfile[0].ProfileUrl)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CandidateProfile) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileUrl)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CandidateId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CandidateId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CandidateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<paging class="pagination" total-records="@Model.totalCandidate" show-total-pages="false" show-total-records="false" page-size="@Model.pageSize" page-no="@Model.pageNo"  ></paging>

<a asp-page-handler="Logout">Logout</a>
@*<div >

    @if(Model.HasPreviousPage)
    {
        <a href="?page=@Model.PreviousPage">Previous</a>

    }

    @for(var i = 1; i <= Model.TotalPages; i++)
    {
        <a href="?page=@i">@i</a>
    }

    @if(Model.HasNextPage)
    {
        <a href="?page=@Model.NextPage">Next</a>
    }
</div>*@


@*@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination">
            <li class="page-item @(Model.CurrentPage <= 1 ? "disabled" : "")">
                <a class="page-link" href="?page=@(Model.CurrentPage - 1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.CurrentPage >= Model.TotalPages ? "disabled" : "")">
                <a class="page-link" href="?page=@(Model.CurrentPage + 1)">Next</a>
            </li>
        </ul>
    </nav>
}
*@